body {
  padding: 0;
  margin: 0;

  font-family: Arial, sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

a {
  text-decoration: none;
}

.underscore-title {
  margin-bottom: 10px;
  padding-bottom: 5px;

  font-size: 32px;
  color: #c68d08;

  border-bottom: 1px solid #c68d08;
}

.wrapper-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.photo {
  width: 200px;
  margin-right: 20px;
}

.photo img {
  width: 100%;
  height: auto;

  border-radius: 50%;
}

.fullname {
  margin-bottom: 10px;

  font-family: Arial, sans-serif;
  font-size: 45px;
  font-weight: 900;
}

.title-job {
  margin-bottom: 15px;

  font-size: 24px;
  color: #c68d08;
}

.contacts-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-item {
  padding-left: 30px;
  margin-right: 20px;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.icon-phone { background-image: url("../images/icons/phone.png"); }
.icon-email { background-image: url("../images/icons/email.png"); }
.icon-github { background-image: url("../images/icons/github.png"); }

.contacts-link {
  color: #000000;
  font-weight: 300;
}

.summary {
  margin-bottom: 40px;
  padding: 10px;

}

.summary p {
  margin-bottom: 5px;
}

.information-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 40px;
}
.information-title {
  font-size: 32px;
  color: #000000;
  margin-right: 30px;
  min-width: 200px;
}

.information-period {
  font-size: 18px;
  font-weight: 900;
  color: #c68d08;
}

.information-list {
  padding-top: 20px;

  border-top: 1px solid #c68d08;
}

.information-item {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.information-period {
  width: 150px;
  margin-right: 25px;
}

.information-description-sub {
  color: #373737;
  font-size: 16px;
}

.skills {
  margin-bottom: 40px;
}

.skills-list {
  width: 80%;
}

.skills-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;

  font-size: 24px;
}

.skills-label {
  width: 150px;
  margin-right: 10px;
}

.progressbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  width: 100%;
  height: 12px;

  background-color: #efeeee;
  border-radius: 15px;
}

.progressbar-indicator {
  height: 12px;

  background-color: #ffd503;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.indicator-html { width: 90%; }
.indicator-css { width: 80%; }
.indicator-js { width: 98%; }
.indicator-react { width: 60%; }
.indicator-webpack { width: 60%; }
.indicator-git { width: 70%; }
.indicator-english { width: 65% }

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.projects-item {
  position: relative;

  width: 300px;
  height: 200px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;

  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.projects-item:nth-child(3n) {
  margin-right: 0;
}

.project-img {
  width: 100%;
  height: auto;
}

.project-info {
  position: absolute;
  left: 0;
  top: 201px;
  width: 100%;
  height: 100%;
  padding: 20px 5px 5px;

  text-align: center;

  background-color: #feffb8;
  transition: top 0.2s linear;
}

.projects-item:hover .project-info {
  top: 0;
}

.projects-title {
  margin-bottom: 10px;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.projects-description {
  margin-bottom: 10px;
}

.technologies-item {
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 4px;

  font-size: 14px;
  color:#ffffff;

  background-color: #19b4f6;

  border-radius: 3px;
}

.projects-link {
  display: inline-block;
  width: 25px;
  height: 25px;

  background-image: url(../images/icons/right-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transition: scale 0.2s ease-in;
}

.projects-link:hover {
  transform: scale(1.2);
}